# Machine-discovered exact function boundaries for Terranigma Spain PAL.
bank = 85

func auto_85_FA5A FA5A entry_mx:0,0
func auto_85_FBCB FBCB entry_mx:0,0
func auto_85_FC52 FC52 entry_mx:1,0
func auto_85_FCBA FCBA entry_mx:1,0
