# Machine-discovered exact function boundaries for Terranigma Spain PAL.
bank = 8D

func auto_8D_86F8 86F8 entry_mx:1,0
func auto_8D_89C9 89C9 entry_mx:1,0
func auto_8D_8AED 8AED entry_mx:1,0
func auto_8D_8C7E 8C7E entry_mx:0,0
func auto_8D_8CE1 8CE1 entry_mx:0,0
func auto_8D_8D10 8D10 entry_mx:0,0
func auto_8D_8D3D 8D3D entry_mx:0,0
func auto_8D_8D55 8D55 entry_mx:0,0
func auto_8D_A022 A022 entry_mx:1,0
func auto_8D_A889 A889 entry_mx:1,0
func auto_8D_A8EA A8EA entry_mx:0,0
func auto_8D_AA96 AA96 entry_mx:1,0
func auto_8D_AAE9 AAE9 entry_mx:0,0
