# Machine-discovered exact function boundaries for Terranigma Spain PAL.
bank = 80

func auto_80_8017 8017 entry_mx:1,1
func auto_80_80DF 80DF entry_mx:1,0
func auto_80_BBA6 BBA6 entry_mx:0,0
func auto_80_BBC7 BBC7 entry_mx:0,0
func auto_80_C76E C76E entry_mx:1,0
func auto_80_C85E C85E entry_mx:1,0
func auto_80_C967 C967 entry_mx:0,0
func auto_80_CB91 CB91 entry_mx:0,0
func auto_80_CE28 CE28 entry_mx:0,0
func auto_80_CE34 CE34 entry_mx:0,0
func auto_80_CE4B CE4B entry_mx:0,0
func auto_80_CF50 CF50 entry_mx:0,0
func auto_80_CF79 CF79 entry_mx:0,0
func auto_80_CFDE CFDE entry_mx:0,0
func auto_80_D0CF D0CF entry_mx:0,0
func auto_80_D27B D27B entry_mx:0,0
func auto_80_D27D D27D entry_mx:0,0
func auto_80_D295 D295 entry_mx:0,0
func auto_80_D682 D682 entry_mx:0,0
func auto_80_D6D3 D6D3 entry_mx:0,0
func auto_80_D6D9 D6D9 entry_mx:0,0
func auto_80_D701 D701 entry_mx:0,0
func auto_80_D708 D708 entry_mx:0,0
func auto_80_D70F D70F entry_mx:0,0
func auto_80_D716 D716 entry_mx:0,0
func auto_80_D7A0 D7A0 entry_mx:0,0
func auto_80_D7AA D7AA entry_mx:0,0
func auto_80_D7B4 D7B4 entry_mx:0,0
func auto_80_D7BE D7BE entry_mx:0,0
func auto_80_D7C1 D7C1 entry_mx:0,0
func auto_80_D7C8 D7C8 entry_mx:0,0
func auto_80_D7D3 D7D3 entry_mx:0,0
func auto_80_D7DE D7DE entry_mx:0,0
func auto_80_D827 D827 entry_mx:0,0
func auto_80_D882 D882 entry_mx:0,0
func auto_80_D8A6 D8A6 entry_mx:0,0
func auto_80_DA31 DA31 entry_mx:0,0
func auto_80_DDA0 DDA0 entry_mx:0,0
func auto_80_DDF7 DDF7 entry_mx:0,0
func auto_80_DE1F DE1F entry_mx:0,0
func auto_80_DE26 DE26 entry_mx:0,0
func auto_80_DE2D DE2D entry_mx:0,0
func auto_80_DE34 DE34 entry_mx:0,0
func auto_80_DEBE DEBE entry_mx:0,0
func auto_80_DEC8 DEC8 entry_mx:0,0
func auto_80_DED2 DED2 entry_mx:0,0
func auto_80_DEDC DEDC entry_mx:0,0
func auto_80_DEDF DEDF entry_mx:0,0
func auto_80_DEE6 DEE6 entry_mx:0,0
func auto_80_DEF1 DEF1 entry_mx:0,0
func auto_80_DEFC DEFC entry_mx:0,0
func auto_80_DF45 DF45 entry_mx:0,0
func auto_80_DF8E DF8E entry_mx:0,0
func auto_80_DFA2 DFA2 entry_mx:0,0
func auto_80_E15C E15C entry_mx:0,0
func auto_80_E16A E16A entry_mx:0,0
func auto_80_E178 E178 entry_mx:0,0
func auto_80_E186 E186 entry_mx:0,0
func auto_80_E194 E194 entry_mx:0,0
func auto_80_E1A2 E1A2 entry_mx:0,0
func auto_80_E1B0 E1B0 entry_mx:0,0
func auto_80_E1D2 E1D2 entry_mx:0,0
func auto_80_E1DF E1DF entry_mx:0,0
func auto_80_E32E E32E entry_mx:0,0
func auto_80_E47A E47A entry_mx:0,0
func auto_80_E5CC E5CC entry_mx:0,0
func auto_80_E750 E750 entry_mx:0,0
func auto_80_E767 E767 entry_mx:0,0
func auto_80_E76F E76F entry_mx:0,0
func auto_80_E777 E777 entry_mx:0,0
func auto_80_E78E E78E entry_mx:0,0
func auto_80_E796 E796 entry_mx:0,0
func auto_80_E7A4 E7A4 entry_mx:0,0
func auto_80_E7B2 E7B2 entry_mx:0,0
func auto_80_E7BA E7BA entry_mx:0,0
func auto_80_E7C2 E7C2 entry_mx:0,0
func auto_80_E7CB E7CB entry_mx:0,0
func auto_80_E7D4 E7D4 entry_mx:0,0
func auto_80_E7E1 E7E1 entry_mx:0,0
func auto_80_E7FA E7FA entry_mx:0,0
func auto_80_E808 E808 entry_mx:0,0
func auto_80_E828 E828 entry_mx:0,0
func auto_80_E830 E830 entry_mx:0,0
func auto_80_E838 E838 entry_mx:0,0
func auto_80_E849 E849 entry_mx:0,0
func auto_80_E87C E87C entry_mx:0,0
func auto_80_F251 F251 entry_mx:0,0

# 80:C967 computes a handler address, PHA, RTS. The table stores target-1.
indirect_dispatch C9BF 15 rtsstack targets:C9DF,CA1A,CA29,CA6D,CA8E,CAD5,CAE5,CAF5,CAFE,CB07,CB1C,CB2C,CB3C,CB4C,CB5C
